NODE_LOCAL_PORT=3000
DB_URI=mongodb+srv://<username>:<password>@ekip.4z6vr.mongodb.net/bursapediary?retryWrites=true&w=majority
SECRET_KEY=SECRET_KEY
BASE_URL=http://localhost:3000
EMAIL=EMAIL
EMAIL_PASSWORD=EMAIL_PASSWORD
GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET
GOOGLE_CALL_BACK_URL=http://localhost:3000/auth/google/callback
GITHUB_CLIENT_ID=GITHUB_CLIENT_ID
GITHUB_CLIENT_SECRET=GITHUB_CLIENT_SECRET
GITHUB_CALL_BACK_URL=http://localhost:3000/auth/github/callback
ELASTICSEARCH_URL=http://127.0.0.1:9200
TEST_DB_URI=mongodb+srv://<username>:<password>@ekip.4z6vr.mongodb.net/bursapediaryTEST?retryWrites=true&w=majority
NODE_ENV=test