/* eslint-disable */ 
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dreamers </title>
  <link rel="shortcut icon" href="image/favicon.png" type="image/x-icon">
  <!-- Bootstrap , fonts & icons  -->
  <link rel="stylesheet" href="./css/bootstrap.css">
  <link rel="stylesheet" href="./fonts/icon-font/css/style.css">
  <link rel="stylesheet" href="./fonts/typography-font/typo.css">
  <link rel="stylesheet" href="./fonts/fontawesome-5/css/all.css">
  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;700;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap" rel="stylesheet">
  <!-- Plugin'stylesheets  -->
  <link rel="stylesheet" href="./plugins/aos/aos.min.css">
  <!-- Vendor stylesheets  -->
  <link rel="stylesheet" href="./css/main.css">
  <!-- Custom stylesheet -->
</head>

<body data-theme-mode-panel-active data-theme="light" style="font-family: 'Mazzard H';">
  <div class="site-wrapper overflow-hidden position-relative">
    <!-- Site Header -->
    <!-- Preloader -->
    <!-- <div id="loading">
    <div class="preloader">
     <img src="./image/preloader.gif" alt="preloader">
   </div>
   </div>    -->
    <!--Site Header Area -->
    <header class="site-header site-header--menu-right landing-14-menu site-header--absolute site-header--sticky">
      <div class="container">
        <nav class="navbar site-navbar">
          <!-- Brand Logo-->
          <div class="brand-logo">
            <a href="#">
              <!-- light version logo (logo must be black)-->
              <img src="image/logo/logo-black.png" alt="" class="light-version-logo">
              <!-- Dark version logo (logo must be White)-->
              <img src="image/logo/logo-white.png" alt="" class="dark-version-logo">
            </a>
          </div>
          <div class="menu-block-wrapper">
            <div class="menu-overlay"></div>
            <nav class="menu-block" id="append-menu-header">
              <div class="mobile-menu-head">
                <div class="go-back">
                  <i class="fa fa-angle-left"></i>
                </div>
                <div class="current-menu-title"></div>
                <div class="mobile-menu-close">&times;</div>
              </div>
              <ul class="site-menu-main">
                <li class="nav-item">
                  <a href="#For-Dreamers" class="nav-link-item">For Dreamers</a>
                </li>
                <li class="nav-item">
                  <a href="#For-Supporters" class="nav-link-item">For Supporters</a>
                </li>
                <li class="nav-item">
                  <a href="/api-docs" class="nav-link-item">Docs</a>
                </li>
                <li class="nav-item">
                  <a href="#Team" class="nav-link-item">Team</a>
                </li>
                <li class="nav-item">
                  <a href="#Tech-Area" class="nav-link-item">Technologies</a>
                </li>
                
              </ul>
            </nav>
          </div>
          <div class="header-btn header-btn-l-14 ms-auto d-none d-xs-inline-flex">
            <a target="_blank" class="btn btn trail-btn focus-reset" href="https://finestdevs.com/shade/">
              Join Now!
            </a>
          </div>
          <!-- mobile menu trigger -->
          <div class="mobile-menu-trigger">
            <span></span>
          </div>
          <!--/.Mobile Menu Hamburger Ends-->
        </nav>
      </div>
    </header>
    <!-- navbar- -->
    <!-- Hero Area -->
    <div class="hero-area-l-14 position-relative z-index-1 overflow-hidden">
      <div class="container">
        <div class="row position-relative justify-content-center">
          <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 pr-0 " data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
            <div class="content">
              <h1>Dreams Will Come True</h1>
              <p>If you are a dreamer who pursue, you can find supporters for your dreams with Shades. 
                If you are a supporter, meet with the dreamers and help their dreams to come true. </p>
              <a href="#" class="btn focus-reset">Join Now!</a>
            </div>
          </div>
          <div class="col-xl-7 col-lg-5 col-md-8 " data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
            <div class="banner-image-l-14">
              <img src="./image/l4/hero-img.png" alt="" class="w-100 mt-xl-n10">
            </div>
          </div>
        </div>
      </div>
      <div class="bg-shape-14"></div>
    </div>
    <!-- Brand-area -->
    <div class="brand-area-l-14">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h4>Our Supporters and Sponsors</h4>
          </div>
        </div>
        <div class="row img-grayscale">
          <div class="col-lg-12">
            <div class="brand-area-l-14-items d-flex justify-content-center justify-content-xl-between align-items-center flex-wrap ">
              <div class="single-brand " data-aos="fade-right" data-aos-duration="500" data-aos-once="true">
                <img src="image/l4/brand-logo.svg" alt="">
              </div>
              <div class="single-brand " data-aos="fade-right" data-aos-duration="700" data-aos-once="true">
                <img src="image/l4/brand-logo-1.svg" alt="">
              </div>
              <div class="single-brand " data-aos="fade-right" data-aos-duration="900" data-aos-once="true">
                <img src="image/l4/brand-logo-2.svg" alt="">
              </div>
              <div class="single-brand " data-aos="fade-right" data-aos-duration="1000" data-aos-once="true">
                <img src="image/l4/brand-logo-3.svg" alt="">
              </div>
              <div class="single-brand " data-aos="fade-right" data-aos-duration="1200" data-aos-once="true">
                <img src="image/l4/brand-logo-4.svg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="brand-aarea-border-l14"></div>
            <div id= "Tech-Area" ></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Tech-area -->
    <div class="brand-area-l-14">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h4>Technologies Behind</h4>
          </div>
        </div>
        <div class="row img-grayscale">
          <div class="col-lg-12">
            <div class="brand-area-l-14-items d-flex justify-content-center justify-content-xl-between align-items-center flex-wrap ">
              <div class="single-brand " data-aos="fade-right" data-aos-duration="500" data-aos-once="true">
                <img src="image/l4/Nodejs_logo.png" alt="">
              </div>
              <div class="single-brand " data-aos="fade-right" data-aos-duration="700" data-aos-once="true">
                <img src="image/l4/MongoDB_Logo.png" alt="">
              </div>
              <div class="single-brand " data-aos="fade-right" data-aos-duration="900" data-aos-once="true">
                <img src="image/l4/express.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="brand-aarea-border-l14"></div>
            <div id= "For-Dreamers" ></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Content-Area-1 -->
      <div class="content-area-l-14-1 position-relative">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 order-lg-1 order-1" data-aos="fade-right" data-aos-duration="1200" data-aos-once="true">
              <div class="h-100 section-heading-8 content text-lg-start text-center">
                <h2>Lure Supporters
                  with Dream Page
                </h2>
                <p>Create
                  a page for your dream and
                  lure more than 1000 supporters all around the world. </p>
                <a href="#" class="btn focus-reset">
                  Join Now
                  <i class="fas fa-angle-right"></i>
                </a>
              </div>
            </div>
            <div class="offset-xl-2 col-xl-6 col-lg-6 col-md-8 pl-xl-11 order-lg-1 order-0" data-aos="fade-left" data-aos-duration="1200" data-aos-once="true">
              <div class="content-img">
                <img src="image/l4/content-img-1.png" alt="" class="w-100 w-xl-auto">
              </div>
            </div>
          </div>
        </div>
      </div>
    
    <!-- Content-Area-2 -->
    <div id= "For-Supporters" ></div>
    <div class="content-area-l-14-2">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-6 col-md-8" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
            <div class="content-img pr-lg-13">
              <img src="image/l4/content-img-2.png" alt="" class="w-100">
            </div>
          </div>
          <div class="col-xl-4 offset-xl-2 col-lg-6 col-md-8 col-sm-10" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
            <div class="content section-heading-8 text-lg-start text-center">
              <h2>
                Support Dreamers, Make Reality.
              </h2>
              <p>Support 
                the best dreams in the world. Help dreamers to change 
                reality.</p>
              <a href="#" class="btn focus-reset">
                Join Now
                <i class="fas fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Feature Area -->
    <div class="features-area-l-14">
      <div class="container bg-shape-img-2 position-relative">
        <div class="row justify-content-center">
          <div class="col-12 col-xl-6 col-lg-7 col-md-10 text-center" data-aos="fade-down" data-aos-duration="800" data-aos-once="true">
          </div>
        </div>
        <div class="row features-area-l-14 justify-content-center mx-0">
          <div class="col-lg-6 col-md-8 col-sm-10 px-lg-6" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
            <div class="content-area  d-flex">
              <div class="circle-85 hover-icon">
                <img src="./image/l4/f-icon-1.png" alt="">
              </div>
              <div class="content-body pl-sm-14 pl-5">
                <h5>
                  Create Dream Page</h5>
                <p class="mb-0">
                 Write down what you want to accomplish, why you want to do and
                 how will this affect you and other people?
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-8 col-sm-10" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
            <div class="content-area  d-flex ">
              <div class="circle-85 hover-icon">
                <img src="./image/l4/f-icon-2.png" alt="">
              </div>
              <div class="content-body">
                <h5>
                  Amount Needed</h5>
                <p class="mb-0">
                  Create a detailed expense table so that your potential supporters 
                can understand cost structure. </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-8 col-sm-10" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
            <div class="content-area  d-flex ">
              <!-- circle-85 start -->
              <div class="circle-85 hover-icon">
                <img src="./image/l4/f-icon-3.png" alt="">
              </div>
              <div class="content-body">
                <h5>
                  Pitch Your Dream</h5>
                <p class="mb-0">
                  Upload a 5 min video to pitch your dream to your future supporters.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-8 col-sm-10" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
            <div class="content-area  d-flex ">
              <div class="circle-85  hover-icon">
                <img src="./image/l4/f-icon-4.png" alt="" />
              </div>
              <div class="content-body">
                <h5>
                  Collect Donation</h5>
                <p class="mb-0">
                  Wait for our supporters to find you and fund you.</p>
              </div>
              <div id="Team"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Our Team-->
      <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-3 col-md-3 col-sm-6 px-lg-6" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
              <div class="our-team">
                      <div class="pic">
                          <img src="image/l4/souhaib.png">
                      </div>
                      <h3 class="title">Souhaib Felmez</h3>
                      <span class="post">Back-end Developer</span>
                  </div>
              </div>
       
              <div class="col-lg-3 col-md-3 col-sm-6 px-lg-6" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
                <div class="our-team">
                      <div class="pic">
                          <img src="image/l4/eda.jpg">
                      </div>
                      <h3 class="title">Eda Güler</h3>
                      <span class="post">Back-end Developer</span>
                  </div>
              </div>
      
              <div class="col-lg-3 col-md-3 col-sm-6 px-lg-6" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
                <div class="our-team">
                      <div class="pic">
                          <img src="image/l4/yaman.jpg">
                      </div>
                      <h3 class="title">Yaman Abd</h3>
                      <span class="post">Back-end Developer</span>
                  </div>
              </div>      
          </div>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-3 col-sm-6 px-lg-6" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
            <div class="our-team">
                  <div class="pic">
                      <img src="image/l4/amr.jpg">
                  </div>
                  <h3 class="title">Amr Nash</h3>
                  <span class="post">Back-end Developer</span>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 px-lg-6" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
            <div class="our-team">
                <div class="pic">
                    <img src="image/l4/coruh.jpg">
                </div>
                <h3 class="title">Çoruh Durmuş</h3>
                <span class="post">Back-end Developer</span>
            </div>
          </div>
        </div>
      </div>

    <!-- CTA Area -->
    <div class="cta-area-l-14">
      <div class="container position-relative">
        <div class="bg-shape-img-3"></div>
        <div class="row cta-area-l-14-content justify-content-center text-lg-start text-center">
          <div class="col-lg-6">
            <div class="cta-content">
              <h2 class="text-white">Ready to get started?</h2>
            </div>
          </div>
          <div class="col-lg-3 text-lg-end text-center">
            <a class="btn" href="#">Join Now!</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Area -->
    <footer class="footer-area-l-12 position-relative">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7 col-md-11 pl-lg-6" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
            <div class="row">
              <div class="col-sm-3 col-xs-6">
                <div class="footer-widget widget2">
                  <p>Help menu</p>
                  <ul class="widget-links pl-0 list-unstyled">
                    <li><a href="">About</a></li>
                    <li><a href="">Features</a></li>
                    <li><a href="">Works</a></li>
                    <li><a href="">Career</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-4 col-xs-6">
                <div class="footer-widget widget3">
                  <ul class="widget-links pl-0 list-unstyled">
                    <li><a href="">Contact </a></li>
                    <li><a href="">Help & Support</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Terms & Conditions</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-5 col-xs-6 pl-lg-0">
                <div class="footer-widget widget4">
                  <p class="widget-title">Products</p>
                  <ul class="widget-links pl-0 list-unstyled ">
                    <li><a href="">Essential Landing Page</a></li>
                    <li><a href="">Alpha Dashboard Pro</a></li>
                    <li><a href="">Karnel Admin Dashboard</a></li>
                    <li><a href="">Gray UI Kit</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-8 col-sm-11" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
            <div class="footer-subs-form-l-12">
              <p>Subscribe to our newsletter</p>
              <h6>Subscribe to get lastest offers, news and events announcements. No spam in your inbox.</h6>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter your email address" aria-label="">
                <div class="input-group-append">
                  <button class="btn border-0 focus-reset" type="button">
                    <i class="icon icon-tail-right text-white"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!-- Vendor Scripts -->
  <script src="js/vendor.min.js"></script>
  <script src="./plugins/aos/aos.min.js"></script>
  <script src="./plugins/menu/menu.js"></script>
  <!-- Activation Script -->
  <script src="js/custom.js"></script>
</body>

</html>